<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TGC.Group.Game"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <TGC.Group.Game>
      <setting name="Name" serializeAs="String">
        <value>Grupo 99</value>
      </setting>
      <setting name="ShadersDirectory" serializeAs="String">
        <value>..\..\Shaders\</value>
      </setting>
      <setting name="MediaDirectory" serializeAs="String">
        <value>..\..\Media\</value>
      </setting>
      <setting name="Category" serializeAs="String">
        <value>D'Angelo, Pablo Rodrigo - Virgili José María</value>
      </setting>
      <setting name="Description" serializeAs="String">
        <value>Plantas vs Zombies Tower Defense</value>
      </setting>
      <setting name="MeshTgc" serializeAs="String">
        <value>Objetos\LogoTGC-TgcScene.xml</value>
      </setting>
      <setting name="TexturaHUDGirasol" serializeAs="String">
        <value>Texturas\HUD_Girasol.jpg</value>
      </setting>
      <setting name="MeshRaziel" serializeAs="String">
        <value>Objetos\BolaRaziel-TgcScene.xml</value>
      </setting>
      <setting name="MeshCielo" serializeAs="String">
        <value>Objetos\cielo-TgcScene.xml</value>
      </setting>
      <setting name="MeshGirasol" serializeAs="String">
        <value>Objetos\Girasol-TgcScene.xml</value>
      </setting>
      <setting name="MeshMina" serializeAs="String">
        <value>Objetos\mina-TgcScene.xml</value>
      </setting>
      <setting name="MeshPlano" serializeAs="String">
        <value>Objetos\plano-TgcScene.xml</value>
      </setting>
      <setting name="MeshZombie" serializeAs="String">
        <value>Objetos\zombie-TgcScene.xml</value>
      </setting>
      <setting name="MeshCaja" serializeAs="String">
        <value>Objetos\caja-TgcScene.xml</value>
      </setting>
      <setting name="MeshPasto" serializeAs="String">
        <value>Objetos\Pasto-TgcScene.xml</value>
      </setting>
      <setting name="MeshMountain" serializeAs="String">
        <value>Objetos\Mountain-TgcScene.xml</value>
      </setting>
      <setting name="TexturaMountain" serializeAs="String">
        <value>Texturas\tierra.jpg</value>
      </setting>
    </TGC.Group.Game>
  </userSettings>
</configuration>